    #title {
        display: flex;
        justify-content: center;
    }

    #qr{
      &-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 180px 180px 180px;
        grid-gap: 1px;
      }
      &-code-info {
        justify-content: center;
      }
      &-code-wrapper img{
        max-width: 10px; // Ajustez cette valeur en fonction de la largeur maximale souhaitée
        max-height: 10px;
      }
    }

    #action-button {
      display: flex;
      justify-content: center;
      
      button:first-child {
        margin-right: 10px;
      }
    }

    