/* NAVBAR */

.navbar {
    background-color: #23314e !important;
    border-color: #23314e !important;
    /* padding: 0% 0% 2% 1% !important; */
}

#notification-icon {
    position: absolute;
    margin-top: -2px;
    margin-left: -94px;
}

#logout-icon {
    position: absolute;
    margin-top: -18px;
    margin-left: -44px;
}

/* */

/* .nav > li > a{
    color: white;
    font-size: 18px;
}

.nav > li > a:hover{
    color: #23314e;
    background-color: #d5d8db;
    font-size: 18px;
} */





/* INDEX */
.space {
    margin-top: 2%;
}

table,
th,
td {
    text-align: center !important;
}

h2 {
    text-align: center;
}

.center {
    text-align: center;
}

.bg {
    background-color: #23314e;
    color: white;
}

.bg:hover{
    background-color: #23314e68;
    color: #23314e;
}

.red{
    background-color: #8B0000 !important;
    color: white !important;
}

.red:hover{
    background-color: #8b000048 !important;
    color: #8B0000!important;
}

.colored{
    color: #23314e;
}

.btn-custom {
    width: 250px !important;
}

hr {
    clear: both;
    opacity: 1;
    width: 80%;
    color: transparent;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-image: url(../images/ombre-horizontal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.tr-bgColor{
    background-color: rgba(0, 191, 255, 0.115) !important;
}

.tr-bgColorGreen{
    background-color: rgba(80, 200, 120, 0.363) !important;
}

.tr-bgColorYellow {
    background-color:rgba(240, 230, 140, 0.562) !important;
}

.tr-bgColorRed {
    background-color:rgba(241, 126, 116, 0.5)!important;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}

.linkFormat{
    color: #004499 !important;
  }
  
.linkFormat:hover {
    color: #23314e!important;
  }

  abbr[title]{
      border-bottom: none !important;
      cursor: inherit !important;
      text-decoration: none !important;
  }
/* PAGINATION DATATABLE */
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: white !important;
    border: 1px solid transparent !important;
    background: #23314e !important;
    border-radius: 0.375rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #23314e !important;
    background-color: #23314e68 !important;
    background: #23314e68 !important;
}

.buttons-excel {
    margin-right: 20px !important;
    color: white !important;
    border: 1px solid transparent !important;
    border-radius: 0.375rem !important;
    background: #23314e !important;
}

.buttons-excel:hover {
    color: #23314e !important;
    background: #23314e68!important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #23314e;
    border-color: #23314e;   
}

.linkFormat {
    color: #004499 !important;
}

.linkFormat:hover {
    color: #23314e !important;
}


/* LOGIN */
.css-login{
    border-radius: 1rem !important; 
    background: hsl(0,0%,96%) !important; 
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
}


/* */
.content .bar{
    font-size: 20px;
    width: 200px;
    height: 25px;
    border: 3px solid #23314e;
    margin: 100px auto;
    border-radius: 7px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 300px;
}

.content .bar:after{
    content: "Chargement ...";
    position: absolute;
    color: #23314e;
    left: 20%;
    top: 150%;
}

.content .bar .sphere{
    display: block;
    width: 24px;
    height: 100%;
    background: #23314e;
    border-radius: 50%;
    -moz-animation: slide 1.75s infinite ease-in-out alternate;
    -webkit-animation: slide 1.75s infinite ease-in-out alternate;
    -ms-animation: slide 1.75s infinite ease-in-out alternate;
    -o-animation: slide 1.75s infinite ease-in-out alternate;
    animation: slide 1.75s infinite ease-in-out alternate;
}

.container-fluid .bar{
    font-size: 20px;
    width: 200px;
    height: 25px;
    border: 3px solid #23314e;
    margin: 100px auto;
    border-radius: 7px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 300px;
}

.container-fluid .bar:after{
    content: "Chargement ...";
    position: absolute;
    color: #23314e;
    left: 20%;
    top: 150%;
}

.container-fluid .bar .sphere{
    display: block;
    width: 24px;
    height: 100%;
    background: #23314e;
    border-radius: 50%;
    -moz-animation: slide 1.75s infinite ease-in-out alternate;
    -webkit-animation: slide 1.75s infinite ease-in-out alternate;
    -ms-animation: slide 1.75s infinite ease-in-out alternate;
    -o-animation: slide 1.75s infinite ease-in-out alternate;
    animation: slide 1.75s infinite ease-in-out alternate;
}

@-moz-keyframes slide{
    to{
        margin-left: 90%;
    }
}

@-webkit-keyframes slide{
    to{
        margin-left: 90%;
    }
}

@-ms-keyframes slide{
    to{
        margin-left: 90%;
    }
}

@-o-keyframes slide{
    to{
        margin-left: 90%;
    }
}

@keyframes slide{
    to{
        margin-left: 90%;
    }
}

/*
#content {
    display: none;
}*/
